body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0;

}
h1{
    font-size: 50px;
}
.top-banner{
    color: white;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 205vh;
    margin-top: 0%;
    padding: 1%;
    
}

.top-banner-tittle{
    font-weight: 700px;
    padding-top: 5%;
 font-size: 4rem;   
}
.top{
    text-align: center;
}
.top-banner-intro{
    margin-bottom: 50px;
    font-size: 18px;
    font-family: poppins;
}
.donate-button{
    padding: 16px 21px;
    margin-top: 20px;
    background-color:#FF5959
    ;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-weight: 600;
}

.donation-part{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}
.donation-area-intro{
    font-family: poppins;
    color: gray;
    font-weight: 400;
}
.donation-amount{
    display: flex;
    color: gray;
    font-size: 25px;
    gap: 25px;
    padding-left: 17%;
    margin-top: 4%;
    border-radius: 5px;
    
}
.first-amount{
    background-color: #FAFAFA;
    padding: 44px 23px;
    border-radius: 5px;
}
.small{
    padding: 44px 35px;
}
#color-part{
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959
    ;

}

.taka{
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 0.5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-family: poppins;
    color: #B3B3B3;
    text-align: center;
    font-weight: 400;
    font-size: 18px;

    
    
}
.plan{
    margin-top: 10%;
    display: flex;
    gap: 30px;
    padding: 0% 10%;
    text-align:start;
}
.plan-info{
    font-family: poppins;
    color: gray;
    font-weight: 400;
    
}
.food-plan{
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(79, 157, 166, 0.1);
}
.shelter-plan{
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(255, 89, 89, 0.1);
}
.education-plan{
    padding: 30px;
    border-radius: 5px;
    background-color: #FFF4D6
    ;
}