body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0;

}
h1{
    font-size: 50px;
}
.top-banner{
    color: white;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 209vh;
    margin-top: 0%;
    padding: 1%;
    
}

.top-banner-tittle{
    font-weight: 700px;
    padding-top: 5%;
 font-size: 4rem;   
}
.top{
    text-align: center;
}
.top-banner-intro{
    margin-bottom: 50px;
    font-size: 18px;
    font-family: poppins;
}
.donate-button{
    padding: 16px 21px;
    margin-top: 20px;
    background-color:tomato;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-weight: 600;
}

